doctype html
meta(http-equiv='content-type' content='text/html;charset=utf-8')
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title JWT Playground!
  link(href='stylesheets/style.css' rel='stylesheet')
  script(src='bundles/modernizr8fce')
  script(type='text/javascript' src='Scripts/jwt-decode.js')
body 
  block content